@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background-color: theme("colors.bg-light");
  color: theme("colors.fg");
}

html,
body {
  height: 100%;
}

body {
  font-family: theme("fontFamily.sans");
}

* {
  box-sizing: border-box;
}
